.Contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    font: normal normal normal 14px/21px Spartan;
    color: #FFFFFF;
    opacity: 0.5;
  }
  i {
    width: 45px;
    height: 45px;
    margin-right: 16px;
    cursor: pointer;
    &:nth-child(3) {
      margin-left: 29px;
    }
  }
}

@media screen and (max-width: 1800px) {
  .Contact {
    span {
      font: normal normal normal 11px/15px Spartan;
      color: #FFFFFF;
      opacity: 0.5;
    }
    i {
      width: 34px;
      height: 34px;
      margin-right: 10px;
      cursor: pointer;
      &:nth-child(3) {
        margin-left: 20px;
      }
    }
  }
}