.HomepageItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 0 110px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
  z-index: 1;
  &.active {
    opacity: 1;
    z-index: 10;
    & > img {
      opacity: 1;
      transition-delay: 1s;
    }
    & ~ .hpi-exit-active .HomepageItem__content {
      animation: next-text-fade 1s ease-in-out;
    }
  }
  &.hpi-enter-active .HomepageItem__content {
    animation: next-text-appear 2s ease-in-out;
  }
  &.hpi-exit-active .HomepageItem__content {
    animation: next-text-remove 1s ease-in-out;
  }
  .HomepageItem__content {
    width: 100%;
    z-index: 1;
  }
  h2 {
    font: normal normal bold 66px/1.47em Spartan;
    text-align: left;
    margin: 0;
  }
  h2:after{
    content: '';
    display: block;
    border: none;
    background-color: #00DE81;
    height: 4px;
    width: 128px;
    margin: 5px 0 0 10px;
  }
  p{
    width: 100%;
    font: normal normal normal 24px/1.75em Spartan;
    color: rgba(255, 255, 255, .35);
  }
  & > img {
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  /*HOME PAGE - SECTION 1*/
  &.item-1 {
    h2 {
      position: relative;
      width: 55%;
      max-width: 850px;
      font: normal normal bold 135px/1.378em Spartan;
      text-align: right;
      margin: 48px 0 0 7px;
      word-spacing: 35px;
    }
    h2:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 9px;
      right: -3px;
      width: 465px;
      height: 180px;
      background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF00 0%, #FFFFFF04 29%, #FFFFFF0F 56%, #FFFFFF22 82%, #FFFFFF33 100%) 0% 0% no-repeat padding-box;
      border-radius: 32px;
      opacity: 0.5;
    }
    h2:after {
      content: '';
      display: inline-block;
      width: 35px;
      background: none;
      margin: 0;
    }
    p {
      width: 755px;
      line-height: 1.583;
      margin: 45px 0 0 10px;
    }
    button {
      width: 210px;
      margin: 58px 0 0 10px;
    }
  }

  /*HOME PAGE - SECTION 2*/
  &.item-2 {
    h2 {
      margin-top: -6px;
    }
    p{
      width: 410px;
      margin: 52px 0 0 10px;
    }
    img {
      height: 78.89%;
      max-height: 852px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  /*HOME PAGE - SECTION 3*/
  &.item-3 {
    align-items: center;
    h2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 1.667em;
      margin-top: -112px;
    }
    h2:after {
      margin: 0;
    }
    img {
      width: auto;
      height: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 0;
    }
  }

  /*HOME PAGE - SECTION 4*/
  &.item-4 {
    h2 {
      width: 570px;
      line-height: 1.09em;
      margin-top: 7px;
    }
    h2:after {
      margin: 26px 0 0 10px;
    }
    p{
      width: 580px;
      margin: 52px 0 0 10px;
    }
    button {
      width: 345px;
      margin: 47px 0 0 8px;
    }
    img {
      height: 85.19%;
      max-height: 920px;
      right: 7.8%;
    }
  }

  /*HOME PAGE - SECTION 5*/
  &.item-5 {
    h2 {
      margin-top: 156px;
    }
    p{
      width: 540px;
      margin: 52px 0 0 10px;
    }
    button {
      width: 285px;
      margin: 45px 0 0 8px;
    }
    img {
      height: 90.74%;
      max-height: 980px;
    }
  }
}

@keyframes next-text-appear {
  from, 50% {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes next-text-remove {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-200px);
  }
}

@keyframes next-text-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes next-title-appear-mob {
  from, 50% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes next-text-remove-mob {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(200px);
  }
}
//
//@keyframes next-text-fade-mob {
//  from {
//    opacity: 1;
//  }
//  to {
//    opacity: 0;
//  }
//}


@media screen and (max-width: 1800px) {
  .HomepageItem {
    padding: 0 80px;
    h2 {
      font-size: 50px;
    }
    h2:after{
      height: 3px;
      width: 96px;
    }
    p {
      font-size: 18px;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        font-size: 101px;
        max-width: 640px;
        margin: 37px 0 0 4px;
        word-spacing: 27px;
      }
      h2:before {
        bottom: 6px;
        right: -2px;
        width: 348px;
        height: 135px;
        border-radius: 24px;
      }
      h2:after {
        width: 25px;
      }
      p{
        width: 630px;
        margin-top: 36px;
      }
      img {
        max-height: 810px;
      }
      button {
        width: 160px;
        margin-top: 44px;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      p{
        width: 310px;
        margin: 39px 0 0 10px;
      }
      img {
        max-height: 640px;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
      h2 {
        width: 430px;
      }
      h2:after{
        margin: 20px 0 0 10px;
      }
      p{
        width: 435px;
        margin: 40px 0 0 10px;
      }
      button {
        width: 259px;
        margin: 35px 0 0 8px;
      }
      img {
        max-height: 690px;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      h2 {
        margin-top: 116px;
      }
      p{
        width: 405px;
        margin: 39px 0 0 10px;
      }
      button {
        width: 214px;
        margin: 34px 0 0 8px;
      }
      img {
        max-height: 735px;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .HomepageItem {
    padding: 0 75px;
    h2 {
      font-size: 44px;
    }
    h2:after{
      height: 3px;
      width: 85px;
    }
    p {
      font-size: 16px;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        font-size: 90px;
        max-width: 565px;
        word-spacing: 25px;
        margin: 37px 0 0 4px;
      }
      h2:before {
        width: 312px;
        height: 120px;
        border-radius: 22px;
      }
      h2:after {
        width: 20px;
      }
      p {
        width: 510px;
        margin: 31px 0 0 6px;
      }
      button {
        width: 142px;
        margin: 40px 0 0 4px;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      h2 {
        margin-top: -1px;
      }
      h2:after {
        margin: 5px 0 0 5px;
      }
      p{
        width: 275px;
        margin: 34px 0 0 6px;
      }
      img {
        max-height: 570px;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
      h2 {
        width: 430px;
      }
      h2:after {
        margin: 18px 0 0 6px;
      }
      p {
        width: 390px;
        margin: 35px 0 0 6px;
      }
      button {
        width: 230px;
        margin: 31px 0 0 8px;
      }
      img {
        max-height: 615px;
        right: 7.5%;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      h2 {
        width: 465px;
        margin-top: 108px;
      }
      h2:after {
        margin: 4px 0 0 5px;
      }
      p {
        width: 360px;
        margin: 35px 0 0 6px;
      }
      button {
        width: 190px;
        margin: 30px 0 0 5px;
      }
      img {
        max-height: 650px;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .HomepageItem {
    h2 {
      font-size: 35px;
    }
    h2:after{
      height: 2px;
      width: 68px;
    }
    p {
      font-size: 13px;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        font-size: 72px;
        max-width: 453px;
        word-spacing: 20px;
        margin: 37px 0 0 4px;
      }
      h2:before {
        width: 248px;
        height: 96px;
        border-radius: 17px;
      }
      h2:after {
        width: 15px;
      }
      p {
        width: 402px;
        margin: 31px 0 0 6px;
      }
      button {
        width: 142px;
        margin: 40px 0 0 4px;
      }
      img {
        max-height: 650px;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      img {
        max-height: 455px;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
      img {
        max-height: 480px;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      img {
        max-height: 523px;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .HomepageItem {
    padding: 0 10%;
    h2 {
      font-size: 20px;
    }
    h2:after{
      height: 2px;
      width: 35px;
    }
    p {
      font-size: 9px;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        font-size: 36px;
        max-width: 230px;
        word-spacing: 10px;
        margin: 5px 0 0 4px;
      }
      h2:before {
        right: 2px;
        width: 122px;
        height: 44px;
        border-radius: 9px;
      }
      h2:after {
        width: 10px;
      }
      p {
        width: 210px;
        margin: 15px 0 0 6px;
      }
      button {
        width: 100px;
        margin: 20px 0 0 4px;
      }
      img {
        max-height: 650px;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      max-width: 700px;
      left: 50%;
      transform: translateX(-50%);
      p{
        width: 160px;
        margin: 17px 0 0 6px;
      }
      img {
        max-height: 230px;
        right: 2%;
      }
    }

    /*HOME PAGE - SECTION 3*/
    &.item-3 {
      h2 {
        margin-top: -35px;
      }
      h2:after {
        margin: 0;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
      max-width: 700px;
      left: 50%;
      transform: translateX(-50%);
      h2 {
        width: 215px;
      }
      h2:after {
        margin: 9px 0 0 6px;
      }
      p {
        width: 195px;
        margin: 17px 0 0 6px;
      }
      button {
        width: 115px;
        margin: 15px 0 0 8px;
        font-size: 9px;
      }
      img {
        max-height: 250px;
        right: 7.5%;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      max-width: 700px;
      left: 50%;
      transform: translateX(-50%);
      h2 {
        width: 215px;
        margin-top: 10px;
      }
      h2:after {
        margin: 9px 0 0 6px;
      }
      p {
        width: 195px;
        margin: 17px 0 0 6px;
      }
      button {
        width: 115px;
        margin: 15px 0 0 8px;
        font-size: 9px;
      }
      img {
        max-height: 250px;
        right: 7.5%;
      }
    }
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .HomepageItem {
    align-items: center;
    padding: 0;
    &.active ~ .hpi-exit-active .HomepageItem__content,
    &.hpi-enter-active .HomepageItem__content,
    &.hpi-exit-active .HomepageItem__content {
      animation: none;
    }
    &.active ~ .hpi-exit-active .HomepageItem__content > p,
    &.active ~ .hpi-exit-active .HomepageItem__content > button{
      animation: next-text-fade 1s ease-in-out;
    }
    &.hpi-enter-active .HomepageItem__content > h2,
    &.hpi-enter-active .HomepageItem__content > .carousel-root {
      animation: next-title-appear-mob 2s ease-in-out;
    }
    &.hpi-enter-active .HomepageItem__content > p,
    &.hpi-enter-active .HomepageItem__content > button{
      animation: next-text-appear 2s ease-in-out;
    }
    &.hpi-exit-active .HomepageItem__content > p,
    &.hpi-exit-active .HomepageItem__content > button {
      animation: next-text-remove-mob 1s ease-in-out;
    }
    .HomepageItem__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      font-size: 53px;
      text-align: center;
    }
    h2:after{
      width: 100px;
      height: 5px;
    }
    p {
      font-size: 28px;
      text-align: center;
    }
    img{
      width: auto;
      height: auto;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        width: 100%;
        max-width: 600px;
        font-size: 95px;
        word-spacing: 21px;
        margin: 176px 0 0 0;
        text-align: center;
      }
      h2:before {
        right: 9px;
        width: 330px;
        height: 128px;
        border-radius: 37px;
      }
      h2:after {
        width: 26px;
      }
      p {
        width: 640px;
        margin: 324px 0 43px 0;
      }
      button {
        width: 224px;
        margin: 0;
      }
      img {
        width: 100%;
        max-height: 100%;
        bottom: 24%;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -111px;
      }
      h2:after {
        margin: 2px 0 0 0;
      }
      p{
        width: 480px;
        margin: 537px 0 0 0;
      }
      img {
        max-height: 453px;
        right: 50%;
        transform: translateX(50%);
        bottom: 40%;
      }
    }

    /*HOME PAGE - SECTION 3*/
    &.item-3 {
      h2 {
        margin-top: -16px;
      }
      h2:after {
        margin: 0;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2em;
        margin-top: 9px;
      }
      h2:after {
        margin: 9px 0 0 0;
      }
      p{
        width: 640px;
        margin: 513px 0 0 0;
      }
      img {
        max-height: 648px;
        right: 50%;
        transform: translateX(50%);
        bottom: 37%;
      }
      button {
        width: 381px;
        margin: 36px 0 0 0;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2em;
        margin-top: 7px;
      }
      h2:after {
        margin: 12px 0 0 0;
      }
      p{
        width: 600px;
        margin: 495px 0 0 0;
        line-height: 1.614;
      }
      img {
        max-height: 432px;
        right: 50%;
        transform: translateX(50%);
        bottom: 41%;
      }
      button {
        width: 298px;
        margin: 44px 0 0 0;
      }
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .HomepageItem {
    h2 {
      font-size: 40px;
    }
    h2:after{
      width: 75px;
      height: 4px;
    }
    p {
      font-size: 21px;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        width: 100%;
        max-width: 450px;
        font-size: 71px;
        word-spacing: 16px;
        margin: 132px 0 0 0;
      }
      h2:before {
        right: 7px;
        width: 248px;
        height: 96px;
        border-radius: 28px;
      }
      h2:after {
        width: 20px;
      }
      p {
        width: 480px;
        margin: 243px 0 32px 0;
      }
      button {
        width: 168px;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -83px;
      }
      h2:after {
        margin: 2px 0 0 0;
      }
      p{
        width: 360px;
        margin: 403px 0 0 0;
      }
      img {
        max-height: 340px;
      }
    }

    ///*HOME PAGE - SECTION 4*/
    &.item-4 {
      h2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.2em;
        margin-top: 7px;
      }
      h2:after {
        margin: 7px 0 0 0;
      }
      p{
        width: 480px;
        margin: 385px 0 0 0;
      }
      img {
        max-height: 486px;
        right: 50%;
        transform: translateX(50%);
        bottom: 37%;
      }
      button {
        width: 286px;
        margin: 27px 0 0 0;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      h2 {
        margin-top: 5px;
      }
      h2:after {
        margin: 9px 0 0 0;
      }
      p{
        width: 450px;
        margin: 371px 0 0 0;
      }
      img {
        max-height: 324px;
        bottom: 44%;
      }
      button {
        width: 224px;
        margin: 33px 0 0 0;
      }
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .HomepageItem {
    height: 100%;
    min-height: 480px;
    max-height: 650px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    .HomepageItem__content {
      width: 80%;
      height: 100%;
      min-width: 320px;
    }
    h2 {
      position: absolute;
      font-size: 25px;
      text-align: center;
    }
    h2:after{
      height: 2px;
      width: 40px;
    }
    p {
      position: absolute;
      font-size: 12px;
      line-height: 1.5;
      text-align: center;
    }
    img{
      width: 100%;
      height: auto;
    }

    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      h2 {
        top: 25%;
        width: 100%;
        max-width: 220px;
        font-size: 34px;
        word-spacing: 2px;
        margin: 0;
        text-align: center;
      }
      h2:before {
        bottom: 2px;
        right: 7px;
        width: 116px;
        height: 45px;
        border-radius: 28px;
      }
      h2:after {
        width: 9px;
      }
      p {
        bottom: 22%;
        width: 250px;
        font-size: 12px;
        line-height: 1.25;
        margin: 0 0 2px 0;
      }
      button {
        bottom: 13%;
        width: 86px;
        margin: 0 0 3px 0;
      }
      img {
        max-height: 100%;
        width: 414px;
        bottom: unset;
        top: 0;
        right: 50%;
        transform: translateX(50%);
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      h2 {
        top: 30%;
      }
      h2:after {
      }
      p{
        bottom: 23%;
        width: 205px;
        margin: 34px 0 0 0;
      }
      img {
        width: 70%;
        height: auto;
        max-height: 100%;
        bottom: unset;
        top: 28%;
      }
    }

    /*HOME PAGE - SECTION 3*/
    &.item-3 {
      .HomepageItem__content {
        height: 84%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      h2 {
        position: relative;
        margin-top: 0;
      }
      h2:after {
        margin: 0;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
      h2 {
        top: 11%;
        width: 200px;
      }
      h2:after {
      }
      p {
        bottom: 26%;
        width: 205px;
        //margin: 34px 0 0 0;
      }
      img {
        width: 75%;
        height: auto;
        max-height: 100%;
        bottom: unset;
        top: 15%;
      }
      button {
        position: absolute;
        bottom: 13%;
        width: 170px;
      }
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      h2 {
        top: 12%;
      }
      h2:after {
        margin: 4px 0 0 0;
      }
      p {
        bottom: 25%;
        width: 240px;
        line-height: 1.5;
      }
      img {
        width: 70%;
        height: auto;
        max-height: 100%;
        bottom: unset;
        top: 21%;
      }
      button {
        position: absolute;
        bottom: 13%;
        width: 115px;
      }
    }
  }
}

@media screen and (max-width: 374px) and (orientation: portrait) {
  .HomepageItem {
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 10px;
    }
    /*HOME PAGE - SECTION 1*/
    &.item-1 {
      img {
        max-height: 350px;
        width: auto;
        top: 4%;
      }
    }

    /*HOME PAGE - SECTION 2*/
    &.item-2 {
      p{
        bottom: 25%;
        width: 190px;
      }
      img {
        top: 25%;
      }
    }

    /*HOME PAGE - SECTION 4*/
    &.item-4 {
    }

    /*HOME PAGE - SECTION 5*/
    &.item-5 {
      p {
        width: 205px;
      }
    }
  }
}