.Select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 10px;
    height: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-left: none;
    border-top: none;
    box-sizing: border-box;
    transform: rotate(45deg);
  }
  select {
    width: 600px;
    height: 45px;
    border: 1px solid #FFFFFF;
    border-radius: 43px;
    background-color: #686868;
    font: normal normal normal 14px/20px Spartan;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 0 22px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@media screen and (max-width: 1800px) {
  .Select {
    &:after {
      right: 15px;
      bottom: 15px;
      width: 8px;
      height: 8px;
    }
    select {
      width: 450px;
      height: 34px;
      font-size: 10px;
      padding: 0 16px;
    }
  }
}
@media screen and (max-width: 1439px) {
  .Select {
    &:after {
      right: 14px;
      bottom: 14px;
      width: 7px;
      height: 7px;
    }
    select {
      width: 400px;
      height: 30px;
      font-size: 9px;
      padding: 0 14px;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Select {
    select {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .Select {
    &:after {
      right: 20px;
      bottom: 18px;
      width: 12px;
      height: 12px;
    }
    select {
      width: 640px;
      height: 43px;
      font-size: 15px;
      padding: 0 18px;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .Select {
    &:after {
      right: 16px;
      bottom: 14px;
      width: 8px;
      height: 8px;
    }
    select {
      width: 480px;
      height: 32px;
      font-size: 11px;
      padding: 0 14px;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .Select {
    &:after {
      right: 8px;
      bottom: 8px;
      width: 6px;
      height: 6px;
    }
    select {
      width: 250px;
      height: 17px;
      font-size: 8px;
      line-height: 17px;
      padding: 0 10px;
    }
  }
}