@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');

.carousel-root {
  width: 1110px;
  height: 630px;
  border: 1px solid #FFFFFF;
  border-radius: 32px;
  padding: 30px;
  box-sizing: border-box;
}

.carousel.carousel-slider {
  overflow: visible;
}

.SliderItemContent {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
}

.carousel .slide i {
  display: block;
  width: 105px;
  height: 105px;
  vertical-align: top;
  border: 0;
}

.carousel .slide h2 {
  display: block;
  text-align: left;
  font: normal normal bold 32px/1.219em Spartan;
  margin-top: 7px;
}

.carousel .slide h2:after {
  display: block;
  margin-top: 31px;
}

.carousel .slide p {
  text-align: left;
  font: normal normal normal 18px/1.222em Spartan;
  margin-top: 2px;
}

.carousel .slide button {
  width: 210px;
  height: 60px;
  margin-top: 10px;
}

.carousel .slide img {
  width: auto;
}

.carousel.carousel-slider, .carousel .slider-wrapper, .carousel .slider-wrapper.axis-horizontal .slider,
.carousel .slide > div {
  height: 100%;
}


.carousel .control-dots {
  bottom: -137px;
}

.carousel .control-dots li.dot {
  width: 75px;
  height: 2px;
  background: #fff;
  border-radius: 0;
  margin: 0 14px;
}

.carousel .control-dots li.dot.selected {
  height: 4px;
  transform: translateY(-15px);
}

.carousel.carousel-slider .control-arrow {
  width: 45px;
  height: 45px;
  background: #5a615e;
  border-radius: 50%;
  opacity: 1;
  padding: 0;
}

.carousel.carousel-slider .control-arrow:hover {
  background: rgba(255,255,255,0.8);
}


.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
  content: '';
  margin: 0;
  border: none;
  line-height: 45px;
  font-size: 40px;
  //font-family: 'Quicksand', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

.carousel.carousel-slider .control-arrow.control-prev:before {
  content: '<';
  color: #071220;
}

.carousel.carousel-slider .control-arrow.control-next:before {
  content: '>';
  color: #020c08;
}

.carousel.carousel-slider .control-arrow.control-prev {
  left: -106px;
  top: 51%;
  transform: translateY(-50%);
}

.carousel.carousel-slider .control-arrow.control-next {
  right: -106px;
  top: 51%;
  transform: translateY(-50%);
}

.carousel .carousel-status {
  display: none;
}

@media screen and (max-width: 1800px) {
  .carousel-root {
    width: 830px;
    height: 470px;
    border-radius: 24px;
    padding: 22px;
  }
  .SliderItemContent {
    padding: 11px;
  }

  .carousel .slide i {
    width: 79px;
    height: 79px;
  }

  .carousel .slide h2 {
    font-size: 24px;
    margin-top: 5px;
  }

  .carousel .slide h2:after {
    margin-top: 24px;
  }

  .carousel .slide p {
    font-size: 14px;
  }

  .carousel .slide button {
    width: 160px;
    height: 45px;
    margin-top: 8px;
  }

  .carousel .control-dots {
    bottom: -103px;
  }

  .carousel .control-dots li.dot {
    width: 56px;
    margin: 0 11px;
  }
}

@media screen and (max-width: 1439px) {
  .carousel-root {
    width: 740px;
    height: 420px;
    border-radius: 21px;
    padding: 20px;
  }
  .SliderItemContent {
    padding: 10px;
  }

  .carousel .slide i {
    width: 70px;
    height: 70px;
  }

  .carousel .slide h2 {
    font-size: 21px;
    margin-top: 4px;
  }

  .carousel .slide h2:after {
    margin-top: 21px;
  }

  .carousel .slide p {
    font-size: 12px;
  }

  .carousel .slide button {
    width: 140px;
    height: 40px;
    margin-top: 6px;
  }

  .carousel .control-dots {
    bottom: -91px;
  }

  .carousel .control-dots li.dot {
    width: 50px;
    margin: 0 10px;
  }
}
