.Button {
  position: relative;
  height: 75px;
  font-size: 22px;
  display: inline-block;
  line-height: 1.136;
  border: 1px solid #FFFFFF;
  border-radius: 71px;
  font-family: 'Spartan', sans-serif;
  color: #fff;
  background: radial-gradient(circle, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.2) 75%);
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 1800px) {
  .Button {
    height: 56px;
    font-size: 17px;
  }
}

@media screen and (max-width: 1439px) {
  .Button {
    height: 50px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Button {
    height: 25px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .Button {
    height: 60px;
    font-size: 19px;
  }
}