.Contact {
  position: relative;
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 0 auto;
  border-radius: 50%;
  background: transparent linear-gradient(90deg, #000A00 0%, #081326 100%) 0% 0% no-repeat padding-box;
  font-family: "Spartan", sans-serif;
  h1 {
    //position: absolute;
    //top: 10%;
    //left: 50%;
    //transform: translateX(-50%);
    font: normal normal bold 65px/1.4697em Spartan;
    text-align: center;
    margin: -50px 0 0 0;
    &:after{
      content: '';
      display: block;
      border: none;
      background-color: #00DE81;
      height: 4px;
      width: 128px;
      margin: 0 auto;
    }
  }
  button {
    width: 150px;
    height: 45px;
    font-size: 14px;
    border-color: rgba(255, 255, 255, .35);
  }
}

.ContactForm {
  //position: absolute;
  //top: 16%;
  //left: 50%;
  //transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  label {
    font: normal normal normal 14px/20px Spartan;
    display: inline-block;
    opacity: 0.35;
    margin: 22px 0 13px 0;
    text-align: center;
  };
  textarea {
    width: 600px;
    height: 240px;
    border: 1px solid rgba(255, 255, 255, .35);
    border-radius: 32px;
    background-color: transparent;
    font: normal normal normal 14px/19px Spartan;
    color: rgba(255, 255, 255, .5);
    padding: 25px 30px;
    box-sizing: border-box;
    resize: none;
  }
}

.Contact__Info {
  width: 105%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media screen and (max-width: 1800px) {
  .Contact {
    h1 {
      top: 11%;
      font-size: 48px;
      margin: -37px 0 0 0;
      &:after{
        height: 3px;
        width: 96px;
      }
    }
    button {
      width: 112px;
      height: 34px;
      font-size: 10px;
    }
  }
  .ContactForm {
    top: 17%;
    label {
      font-size: 10px;
      margin: 16px 0 10px 0;
    };
    textarea {
      width: 450px;
      height: 180px;
      border-radius: 24px;
      font-size: 10px;
      padding: 18px 22px;
    }
  }
  .Contact__Info  {
    margin-top: 15px;
  }
}
@media screen and (max-width: 1439px) {
  .Contact {
    h1 {
      font-size: 42px;
      margin: -33px 0 0 0;
      &:after{
        width: 85px;
      }
    }
    button {
      width: 100px;
      height: 30px;
      font-size: 9px;
    }
  }
  .ContactForm {
    label {
      font-size: 9px;
      margin: 14px 0 9px 0;
    };
    textarea {
      width: 400px;
      height: 160px;
      border-radius: 21px;
      font-size: 9px;
      padding: 16px 19px;
    }
  }
  .Contact__Info {
    margin-top: 13px;
    div span {
      font-size: 9px;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Contact {
    width: 100%;
    height: auto;
    border-radius: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      top: 0;
      font-size: 21px;
      margin: 30px 0 0 0;
      &:after{
        width: 42px;
      }
    }
    button {
      width: 80px;
      height: 20px;
      font-size: 9px;
    }
  }
  .ContactForm {
    position: relative;
    transform: translate(0, 0);
    left: 0;
    top: 0;
    margin: 75px 0 50px 0;
    label {
      font-size: 9px;
      margin: 10px 0 10px 0;
    };
    textarea {
      width: 300px;
      height: 100px;
      border-radius: 10px;
      font-size: 8px;
      padding: 8px 19px;
    }
  }
  .Contact__Info {
    margin-top: 6px;
    div span {
      font-size: 5px;
    }
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .Contact {
    width: 100%;
    height: auto;
    border-radius: 0;
    background: none;
    h1 {
      top: 19%;
      font-size: 52px;
      &:after{
        width: 101px;
        height: 4px;
        margin-top: 9px;
      }
    }
    button {
      width: 160px;
      height: 48px;
      font-size: 15px;
    }
  }
  .ContactForm {
    top: 25%;
    label {
      font-size: 15px;
      margin: 23px 0 15px 0;
    };
    textarea {
      width: 640px;
      height: 235px;
      border-radius: 28px;
      font-size: 15px;
      padding: 21px;
    }
  }
  .Contact__Info {
    margin-top: 37px;
    div span {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .Contact {
    h1 {
      font-size: 39px;
      &:after{
        width: 76px;
        height: 3px;
        margin-top: 7px;
      }
    }
    button {
      width: 120px;
      height: 36px;
      font-size: 11px;
    }
  }
  .ContactForm {
    label {
      font-size: 11px;
      margin: 17px 0 11px 0;
    };
    textarea {
      width: 480px;
      height: 176px;
      font-size: 11px;
      padding: 16px;
    }
  }
  .Contact__Info {
    margin-top: 28px;
    div span {
      font-size: 11px;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .Contact {
    max-height: 600px;
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    h1 {
      font-size: 18px;
      &:after{
        width: 40px;
        height: 2px;
        margin-top: 7px;
      }
    }
    button {
      position: relative;
      width: 62px;
      height: 19px;
      font-size: 8px;
    }
  }
  .ContactForm {
    top: 23%;
    label {
      font-size: 7px;
      margin: 1px 0 3px 0;
    };
    textarea {
      width: 250px;
      height: 92px;
      border-radius: 8px;
      font-size: 7px;
      padding: 9px;
    }
  }
  .Contact__Info {
    margin-top: 16px;
    div span {
      font-size: 7px;
    }
  }
}