.Layout{
  position: absolute;
  //top: 0;
  //right: 0;
  //bottom: 0;
  //left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: transparent linear-gradient(270deg, #000A00 0%, #081326 100%) 0% 0% no-repeat padding-box;
  overflow: scroll;
  overflow-x: hidden;
  main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-grow: 1;
  }
  i {
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Language {
    position: fixed;
    top: 76px;
    right: 84px;
    width: 100px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: normal normal bold 20px/1.15em Spartan;
    color: #5A605B;
    z-index: 100;
    span {
      cursor: pointer;
    }
    .white {
      color: #fff
    }
  }
  .ContextLogo {
    position: fixed;
    top: 48px;
    left: 61px;
    width: 208px;
    height: 75px;
    cursor: pointer;
    z-index: 80;
  }
  .FbLogo, .IgLogo, .LnLogo {
    position: fixed;
    bottom: 45px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 80;
  }
  .FbLogo {
    left: 52px;
  }
  .IgLogo {
    left: 120px;
  }
  .LnLogo {
    left: 187px;
  }
  .PhoneButton {
    position: fixed;
    bottom: 60px;
    right: 75px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 80;
  }
}

::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 1800px) {
  .Layout{
    .Language {
      top: 54px;
      right: 62px;
      width: 76px;
      font-size: 16px;
    }
    .ContextLogo {
      top: 36px;
      left: 44px;
      width: 160px;
      height: 60px;
    }
    .FbLogo, .IgLogo, .LnLogo {
      bottom: 33px;
      width: 35px;
      height: 35px;
    }
    .FbLogo {
      left: 39px;
    }
    .IgLogo {
      left: 89px;
    }
    .LnLogo {
      left: 140px;
    }
    .PhoneButton {
      bottom: 44px;
      right: 56px;
      width: 57px;
      height: 57px;
    }
  }
}

@media screen and (max-width: 1439px) {
  .Layout{
    .ContextLogo {
      top: 32px;
      left: 39px;
      width: 140px;
      height: 53px;
    }
    .PhoneButton {
      bottom: 33px;
      right: 39px;
      width: 50px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Layout{
    .Language {
      top: 20px;
      right: 30px;
      width: 50px;
      font-size: 12px;
    }
    .ContextLogo {
      top: 20px;
      left: 30px;
      width: 80px;
      height: 30px;
    }
    .FbLogo, .IgLogo, .LnLogo {
      bottom: 20px;
      width: 20px;
      height: 20px;
    }
    .FbLogo {
      left: 30px;
    }
    .IgLogo {
      left: 70px;
    }
    .LnLogo {
      left: 110px;
    }
    .PhoneButton {
      bottom: 20px;
      right: 30px;
      width: 40px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .Layout{
    .Language {
      top: 53px;
      right: 123px;
      width: 85px;
      font-size: 17px;
      line-height: 36px;
    }
    .ContextLogo {
      top: 37px;
      left: 37px;
      width: 144px;
      height: 52px;
      z-index: 100;
    }
    .FbLogo, .IgLogo, .LnLogo {
      display: none;
    }
    .PhoneButton {
      bottom: 47px;
      right: 49px;
      width: 48px;
      height: 48px;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .Layout{
    .Language {
      top: 19px;
      right: 59px;
      width: 50px;
      font-size: 10px;
      line-height: 15px;
    }
    .ContextLogo {
      top: 17px;
      left: 17px;
      width: 68px;
      height: 24px;
    }
    .PhoneButton {
      bottom: 22px;
      right: 24px;
      width: 26px;
      height: 26px;
    }
  }
}