.Layout {
  //position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //height: 100vh;  max-height: -webkit-fill-available;
  //height: 500px;
  width: 100%;
  //height: 900px;
  //min-height: 100vh;
  //max-height: 100vh;
  //display: flex;
  //align-items: center;
  background: #000 linear-gradient(270deg, #000A00 0%, #081326 100%) 0% 0% no-repeat padding-box;
  //overflow: auto;
  overflow: scroll;
  //-webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  main {
    //width: 100%;
    //height: 100%;
    //min-height: 100vh;
    //max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  i {
    background-size: contain;
    background-repeat: no-repeat;
  }

  .Language {
    position: fixed;
    top: 76px;
    right: 84px;
    width: 100px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: normal normal bold 20px/1.15em Spartan;
    color: #5A605B;
    z-index: 140;

    span {
      cursor: pointer;
    }

    .white {
      color: #fff
    }
  }

  .ContextLogo {
    position: fixed;
    top: 48px;
    left: 61px;
    width: 208px;
    height: 75px;
    cursor: pointer;
    z-index: 80;
  }

  .FbLogo, .IgLogo, .LnLogo {
    position: fixed;
    bottom: 45px;
    width: 45px;
    height: 45px;
    cursor: pointer;
    z-index: 80;
  }

  .FbLogo {
    left: 52px;
  }

  .IgLogo {
    left: 120px;
  }

  .LnLogo {
    left: 187px;
  }

  .PhoneButton {
    position: fixed;
    bottom: 60px;
    right: 75px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 80;
  }
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

.avy-stories-notification {
  position: fixed;
  top: 113px;
  left: 154px;
  width: 401px;
  height: 73px;
  background: #00DE81;
  border-radius: 32px;
  font: normal normal 800 26px/1em Spartan;
  color: #081224;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: show-notification 10s linear forwards 10s;
  z-index: 80;
  &:before {
    content: '';
    display: block;
    width: 50px;
    height: 2px;
    background: #00DE81;
    position: absolute;
    top: 4px;
    left: -21px;
    transform: rotate(34deg);
  }
}

.rcs-custom-scroll {
  min-height: 0;
  min-width: 0
}

.rcs-custom-scroll .rcs-outer-container {
  overflow: hidden
}

.rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar {
  opacity: 1;
  transition-duration: 0.2s
}

.rcs-custom-scroll .rcs-inner-container {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

.rcs-custom-scroll .rcs-inner-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 0;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.05) 60%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
  transition: height 0.1s ease-in;
  will-change: height
}

.rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after {
  height: 5px;
  transition: height 0.15s ease-out
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container {
  user-select: none
}

.rcs-custom-scroll .rcs-custom-scrollbar {
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  right: 60px;
  z-index: 1;
  transition: opacity 0.4s ease-out;
  padding: 0;
  box-sizing: border-box;
  pointer-events: none;
  transform: scale(.7);
  background: rgba(255, 255, 255, .5);
}

.rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl {
  right: auto;
  left: 3px
}

.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar {
  opacity: 1
}

.rcs-custom-scroll .rcs-custom-scroll-handle {
  position: absolute;
  //width: 100%;
  top: 0;
  width: 7px;
  right: -3px
}

.rcs-custom-scroll .rcs-inner-handle {
  height: 100%;
  margin-top: 0;
  background-color: #00DE81;
  border-radius: 3px
}

@keyframes show-notification{
  from, to {
    opacity: 0;
  }
  10%, 90%{
    opacity: 1;
  }
}

@media screen and (max-width: 1800px) {
  .Layout {
    .Language {
      top: 54px;
      right: 62px;
      width: 76px;
      font-size: 16px;
    }

    .ContextLogo {
      top: 36px;
      left: 44px;
      width: 160px;
      height: 60px;
    }

    .FbLogo, .IgLogo, .LnLogo {
      bottom: 33px;
      width: 35px;
      height: 35px;
    }

    .FbLogo {
      left: 39px;
    }

    .IgLogo {
      left: 89px;
    }

    .LnLogo {
      left: 140px;
    }

    .PhoneButton {
      bottom: 44px;
      right: 56px;
      width: 57px;
      height: 57px;
    }
  }
  .avy-stories-notification {
    top: 85px;
    left: 115px;
    width: 300px;
    height: 54px;
    border-radius: 24px;
    font-size: 19px;
    &:before {
      width: 37px;
      left: -13px;
    }
  }
}

@media screen and (max-width: 1439px) {
  .Layout {
    .ContextLogo {
      top: 32px;
      left: 39px;
      width: 140px;
      height: 53px;
    }

    .PhoneButton {
      bottom: 33px;
      right: 39px;
      width: 50px;
      height: 50px;
    }
  }
  .avy-stories-notification {
    top: 75px;
    left: 99px;
    width: 255px;
    height: 36px;
    border-radius: 21px;
    font-size: 16px;
    &:before {
      width: 33px;
      left: -11px;
    }
  }
}

@media screen and (max-width: 1279px){
  .rcs-custom-scroll .rcs-custom-scrollbar {
    right: 20px;
  }
  .rcs-custom-scroll .rcs-custom-scroll-handle {
    width: 6px;
    right: -2px;
  }

}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Layout {
    .Language {
      top: 20px;
      right: 30px;
      width: 50px;
      font-size: 12px;
    }

    .ContextLogo {
      top: 20px;
      left: 30px;
      width: 80px;
      height: 30px;
    }

    .FbLogo, .IgLogo, .LnLogo {
      bottom: 20px;
      width: 20px;
      height: 20px;
    }

    .FbLogo {
      left: 30px;
    }

    .IgLogo {
      left: 70px;
    }

    .LnLogo {
      left: 110px;
    }

    .PhoneButton {
      bottom: 20px;
      right: 30px;
      width: 40px;
      height: 40px;
    }
  }
  .avy-stories-notification {
    top: 45px;
    left: 67px;
    width: 130px;
    height: 18px;
    border-radius: 13px;
    font-size: 9px;
    &:before {
      width: 20px;
      left: -9px;
      top: 2px;
    }
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .Layout {
    .Language {
      top: 53px;
      right: 123px;
      width: 85px;
      font-size: 17px;
      line-height: 36px;
    }

    .ContextLogo {
      top: 37px;
      left: 37px;
      width: 144px;
      height: 52px;
      z-index: 100;
    }

    .FbLogo, .IgLogo, .LnLogo {
      display: none;
    }

    .PhoneButton {
      bottom: 47px;
      right: 49px;
      width: 48px;
      height: 48px;
      z-index: 100;
    }
  }
  .avy-stories-notification {
    top: 95px;
    left: 99px;
    width: 255px;
    height: 36px;
    border-radius: 21px;
    font-size: 16px;
    &:before {
      width: 33px;
      left: -18px;
      top: -1px;
      transform: rotate(45deg);
    }
  }
  .rcs-custom-scroll .rcs-outer-container .rcs-positioning {
    display: none;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .Layout {
    .Language {
      top: 19px;
      right: 59px;
      width: 50px;
      font-size: 10px;
      line-height: 15px;
    }

    .ContextLogo {
      top: 17px;
      left: 17px;
      width: 68px;
      height: 24px;
    }

    .PhoneButton {
      bottom: 22px;
      right: 24px;
      width: 26px;
      height: 26px;
    }
  }
  .avy-stories-notification {
    top: 38px;
    left: 47px;
    width: 141px;
    height: 21px;
    border-radius: 6px;
    font-size: 10px;
    &:before {
      width: 12px;
      left: -6px;
      top: 0;
      transform: rotate(38deg);
    }
  }
}