.avy-offers {
  position: relative;
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Spartan', sans-serif;
  color: #fff;
  margin: calc((100vh - 850px)/2) 0;
  padding: 0;
  box-sizing: border-box;
  h1 {
    font: normal normal bold 66px/1.4697em Spartan;
    text-align: center;
    &:after{
      content: '';
      display: block;
      border: none;
      background-color: #00DE81;
      height: 4px;
      width: 128px;
      margin: 0 auto;
    }
  }
  a {
    text-decoration: none;
    margin-top: 30px;
  }
  button {
    width: 450px;
  }
}

.avy-offers__content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avy-offers__green-lines {
  position: relative;
  width: 960px;
  height: 30px;
  border: 1px solid #00DE81;
  border-top: none;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    box-sizing: border-box;
    background-color: #00DE81;
  }
}

@media screen and (max-width: 1800px) {
  .avy-offers {
    margin: calc((100vh - 635px)/2) 0;
    h1 {
      font-size: 49px;
      &:after{
        height: 3px;
        width: 96px;
      }
    }
    a {
      margin-top: 22px;
    }
    button {
      width: 337px;
    }
  }
  .avy-offers__green-lines {
    width: 720px;
    height: 22px;
  }
}

@media screen and (max-width: 1439px) {
  .avy-offers {
    margin: calc((100vh - 567px)/2) 0;
    h1 {
      font-size: 44px;
      &:after{
        width: 85px;
      }
    }
    a {
      margin-top: 20px;
    }
    button {
      width: 299px;
    }
  }
  .avy-offers__green-lines {
    width: 640px;
    height: 20px;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .avy-offers {
    margin: calc((100vh - 274px)/2) 0;
    h1 {
      font-size: 20px;
      &:after{
        width: 38px;
        height: 2px;
      }
    }
    a {
      margin-top: 10px;
    }
    button {
      width: 133px;
      font-size: 9px;
    }
  }
  .avy-offers__green-lines {
    width: 284px;
    height: 10px;
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .avy-offers {
    height: auto;
    max-height: none;
    justify-content: flex-start;
    margin: 172px 0 0 0;
    h1 {
      font-size: 50px;
      &:after{
        width: 100px;
        height: 5px;
      }
    }
    a {
      margin: 12px 0 169px 0;
    }
    button {
      width: 412px;
      font-size: 24px;
    }
  }
  .avy-offers__content {
    flex-direction: column;
    margin-top: 154px;
  }
  .avy-offers__green-lines {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .avy-offers {
    margin: 138px 0 0 0;
    h1 {
      font-size: 40px;
      &:after{
        width: 80px;
        height: 4px;
      }
    }
    a {
      margin: 10px 0 135px 0;
    }
    button {
      width: 330px;
      font-size: 19px;
    }
  }
  .avy-offers__content {
    margin-top: 123px;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .avy-offers {
    margin: 55px 0 0 0;
    h1 {
      font-size: 22px;
      &:after{
        width: 46px;
        height: 2px;
        margin-top: 4px;
      }
    }
    a {
      margin: -1px 0 54px 0;
    }
    button {
      position: relative;
      width: 238px;
      height: 44px;
      font-size: 12px;
    }
  }
  .avy-offers__content {
    margin-top: 87px;
  }
}

@media screen and (max-width: 374px) and (orientation: portrait) {
  .avy-offers {
    margin: 47px 0 0 0;
    h1 {
      font-size: 19px;
      &:after{
        width: 40px;
      }
    }
    button {
      width: 203px;
      height: 38px;
      font-size: 10px;
    }
  }
  .avy-offers__content {
    margin-top: 74px;
  }
}