.avy-about-us {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font: normal normal bold 66px/1.4697em Spartan;
    text-align: center;
    margin: 0 0 5% 0;
    &:after{
      content: '';
      display: block;
      border: none;
      background-color: #00DE81;
      height: 4px;
      width: 128px;
      margin: 3px auto;
    }
  }
}

.avy-about-us__info {
  margin: calc((100vh - 728px)/2) 0;
}

.avy-about-us__employees {
  margin: calc((100vh - 830px)/2) 0;
}

.avy-employees-container {
  position: relative;
  width: 1410px;
  height: 830px;
}

.avy-employees-container__background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-size: cover;
  opacity: .5;
}

@media screen and (max-width: 1800px) {
  .avy-about-us {
    h1 {
      font-size: 49px;
      &:after{
        height: 3px;
        width: 96px;
      }
    }
  }
  .avy-about-us__info {
    margin: calc((100vh - 547px)/2) 0;
  }
  .avy-about-us__employees {
    margin: calc((100vh - 620px)/2) 0;
  }
  .avy-employees-container {
    width: 1050px;
    height: 620px;
  }
  .avy-employees-container__background {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 1439px) {
  .avy-about-us {
    h1 {
      font-size: 43px;
      &:after{
        width: 85px;
      }
    }
  }
  .avy-about-us__info {
    margin: calc((100vh - 486px)/2) 0;
  }
  .avy-about-us__employees {
    margin: calc((100vh - 550px)/2) 0;
  }
  .avy-employees-container {
    width: 930px;
    height: 550px;
  }
  .avy-employees-container__background {
    width: 540px;
    height: 540px;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .avy-about-us {
    h1 {
      display: none;
    }
  }
  .avy-about-us__info, .avy-about-us__employees {
    margin: 0;
  }
  .avy-employees-container {
    width: 256px;
    height: auto;
    margin-top: 49px;
    margin-bottom: 0;
  }
  .avy-employees-container__background {
    display: none;
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .avy-about-us {
    section {
      height: auto;
    }
    h1 {
      display: none;
    }
  }
  .avy-about-us__info, .avy-about-us__employees {
    margin: 0;
  }
  .avy-employees-container {
    width: 512px;
    height: auto;
    margin-top: 98px;
    margin-bottom: 0;
  }
  .avy-employees-container__background {
    display: none;
  }
}

@media screen and (max-width: 1023px) and (orientation: portrait) {
  .avy-employees-container {
    width: 384px;
    margin-top: 74px;
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .avy-employees-container {
    width: 235px;
    margin-top: 39px;
  }
}

@media screen and (max-width: 374px) and (orientation: portrait) {
  .avy-employees-container {
    width: 201px;
    margin-top: 34px;
  }
}