@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700;800;900&display=swap');

.Homepage {
  //display: flex;
  width: 100%;
  height: 100%;
  font-family: 'Spartan', sans-serif;
  color: #fff;
  padding: 0 120px;
  margin-top: -41px;
  h1 {
    position: relative;
    width: 840px;
    font-size: 135px;
    line-height: 1.378;
    font-weight: 700;
    margin-left: 6px;
    text-align: right;
    div {
      position: absolute;
      top: 182px;
      left: 378px;
      width: 465px;
      height: 180px;
      background: transparent radial-gradient(closest-side at 50% 50%, #FFFFFF00 0%, #FFFFFF04 29%, #FFFFFF0F 56%, #FFFFFF22 82%, #FFFFFF33 100%) 0% 0% no-repeat padding-box;
      border-radius: 32px;
      opacity: 0.5;
    }
  }
  b{
    margin: 0 33px 0 36px;
  }
  p{
    width: 755px;
    font-size: 24px;
    line-height: 1.583;
    font-weight: 500;
    opacity: .35;
    margin-top: -45px;
  }
  img {
    width: auto;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  button {
    width: 210px;
    margin-top: 33px;
  }
}
