@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700;800;900&display=swap');

.Homepage {
  position: relative;
  width: 100%;
  font-family: 'Spartan', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  .NavigationDots {
    display: block;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 75px;
    z-index: 20;
  }
}

@media screen and (max-width: 1023px) and (orientation: landscape) {
  .Homepage {
    .NavigationDots {
      right: 47px;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 1279px) and (orientation: portrait) {
  .Homepage {
    .NavigationDots {
      display: block;
      position: fixed;
      top: unset;
      right: unset;
      bottom: 50px;
      left: 36px;
      margin: 0;
      padding: 0;
    }
  }
}

@media screen and (max-width: 767px) and (orientation: portrait) {
  .Homepage {
    .NavigationDots {
      bottom: 15px;
      left: 17px;
    }
  }
}