.MenuToggle {
  position: fixed;
  top: 69px;
  right: 226px;
  font-size: 33px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
  z-index: 100;
  transition: all .22s ease-in;
}

.MenuToggle:hover {
  opacity: .7;
}

@media screen and (max-width: 1800px) {
  .MenuToggle {
    top: 53px;
    right: 172px;
    font-size: 23px;
  }
}